<img src="http://westonsworld.files.wordpress.com/2011/11/goldsworthy-ice_ball_2.jpg" width="250">

<h2>The ice is broken!</h2>
Your fabulous name: <%= params['name'] %> <br>
Your awesome occupation: <%= params['occupation'] %> <br>
Your delicious fave ice cream: <%= params['icecream'] %> <br><br>


