<img src="http://glacierball.com/wp-content/uploads/2012/11/d.jpg">

<h2>Hi there!</h2>

<form action="/results">
  What's your name? <input type="text" name="name"><br>
  Your occupation? <input type="text" name="occupation"><br>
  Your favorite ice cream? <input type="text" name="icecream"><br><br>
  <input type="submit" value="Submit">
</form>